@font-face {
  font-family: '';
  src: url('https://fonts.googleapis.com/css2?family=Handlee&family=Noto+Sans+Phoenician&display=swap');

  font-weight:normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: "Handlee", cursive;
  font-style:normal;
  background-color: #252525;
  color: #333;
}


