.ScrollFrame {
  display: flex;
  flex-direction: column;
  background: url("../../assets/images/ScrollPaper.png") center no-repeat;
  background-size:contain;
  transform: translateY(-100px);
  /* padding-bottom: 9rem; */
  
  
}

/* Responsive */
@media (max-width: 900px) {
  .ScrollFrame {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .ScrollFrame {
    padding: 1rem;
  }

}
