/* src/pages/WorldMapPage/WorldMapPage.module.css */

.container {
min-height: 100vh;
padding: 2rem;
background-image: url('../../assets/images/Landscape_v02.svg');
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
}

.title {
font-family: "Oleo Script", system-ui;
font-size: 2rem;
color: #d4a017;
margin-bottom: 1rem;
}

.scroll {
width: 90%;
max-width: 1000px;
padding: 0;
}

.mapWrapper {
position: relative;
width: 800px;
height:400px;
padding-top: 20%;

}

.mapImage {
position: relative;
top: 0;
left: 0;
}

.pin {
position: absolute;
width: 0.5rem;
height: 0.5rem;
background: url('../../assets/images/Pin.svg') center bottom no-repeat;
background-size: contain;
border: none;
cursor: pointer;
transform: translate(-50%, -100%);
z-index: 10;
}

.message,
.error {
font-family: 'YourCustomFont', cursive;
font-size: 1.2rem;
color: #3a2a1a;
margin-top: 2rem;
}
.error {
color: #d4380d;
}
