.navbar {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: url('../../assets/images/Navbar_Art.png') no-repeat;
  background-size:cover;
  /* height: 175px; */
  /* height: 175px; */
  /* width:100%;   */
  /* transform:translateY(-20px); */
  /* padding: 0 2rem; */
  /* box-sizing: border-box; */
}

.logo {
  
  left:2rem;
  height:90px;
  width: 90px;
  background: linear-gradient(to bottom, rgba(3, 69, 95, 0.705), rgba(255, 255, 255, 0.144));
  box-shadow: 2px 4px 5px #3a2a1a;
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Handlee", cursive;
  color: #d49e17e0;
  text-decoration: none;
  border: 2px solid;
  
}

.navLinks {
  display: flex;
  gap: 8rem;
  font-size:large;
  /* padding-top: 2rem; */
}

.navItem {
  font-size: larger;
  align-self: center;
  font-family: "Handlee", cursive;
  text-shadow: px 3px 2px rgba(0,0,0,0.3);
  font-weight:600;
  color: #3a2a1a;
  text-decoration: none;
  transition: color 0.2s;
  padding-bottom: 20px;
  border-radius: 50px;
  
  -webkit-text-stroke: 0.25px #4f7dc2e0;

}

.navItem:hover {
  color: #cf8d07;
}
@media (max-width: 900px) {
  .navLinks {
    gap:1rem;
    font-size: smaller;
}
}

