/* src/components/Navbar/Navbar.module.css */

.navbar {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Use your attached scroll art as the background */
  background: url('../../assets/images/Navbar_Art.png') top center no-repeat;
  background-size: cover;
  height: 120px;     /* match the pixel height of your PNG */
  padding: 0 2rem;
  box-sizing: border-box;
}

.logo {
  /* position:center; */
  left:2rem;
  font-family: 'YourCustomFont', cursive;
  color: #d4a017;
  font-size: 1.5rem;
  text-decoration: none;
}

.navLinks {
  display: flex;
  gap: 2rem;
  
}

.navItem {
  font-family: 'YourCustomFont', cursive;
  color: #3a2a1a;
  text-decoration: none;
  transition: color 0.2s;
}

.navItem:hover {
  color: #cf8d07;
}
